<nav id="navbar">

    <img src="./images/Logo.png" alt="">
   
    <img src="" alt="">
    <button><i class="bi bi gear"></i></button>
    <button><i class="bi bi-terminal"></i></button>
    <button><i class="bi bi-terminal-plus"></i></button>
    <button><i class="bi bi-play-fill"></i></button>

   
</nav>